*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body{
    background-color: #FAF8F1;
    font-family: Arial, sans-serif;
    color: #334443;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
header{
    background: #34656D; 
    color: #FAF8F1; 
    padding: 10px 0; 
    text-align: center; 
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}
footer{
    background: #334443; 
    color: #FAF8F1; 
    text-align: center; 
    padding: 10px 0; 
    margin-top: 20px;
    position: sticky;
    bottom: 0;
}
.ingress{
    background: #FAEAB1; 
    padding: 15px; 
    border-radius: 5px; 
    margin-bottom: 10px;
    width: 100%;
    margin: auto;
}


.main{ 
    max-width: 800px; 
    margin: auto; 
    background: #fff; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(52,101,109,0.1);
}


.container{
    display: flex; 
    flex-direction: row; 
    gap: 15px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.sidebar{
    background: #FAEAB1; 
    padding: 15px; 
    border-radius: 5px;
    flex: 1;
    min-width: 150px;
}

.brödtext{
    flex: 3; 
    background: #FAEAB1; 
    padding: 15px; 
    border-radius: 5px;
    min-width: 300px;
    min-height: 200px;
    overflow-y: auto;
}

.image{
    width: 400px;
  height: 250px;
  color: #111;
  border-radius: 50%;
  float: left;
  shape-outside: ellipse();
  padding: 10px;
  margin-top: 10px;
    }

.bottomcontainer{
    margin-top: 20px; 
    display: flex; 
    justify-content: space-between; 
    gap: 15px;
}
.bottomarticle{
    background: #FAEAB1; 
    padding: 15px; 
    border-radius: 5px; 
    width: 42%;
    min-height: 150px;
    margin: auto;
    margin-top: 20px;
}

.byline{
    font-style: italic; 
    color: #555; 
    margin-bottom: 10px;
    text-align: right;
    width: 95%;
}

